.fixedImage {
    background-image: url("../assets/Synechronlogo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }

 